.navbar-container{
    display:flex;
    flex-direction: row;
    height:6rem;
    background: linear-gradient(to bottom, rgb(34, 0, 34) 0%,rgb(89, 0, 31) 85%,rgba(255, 255, 255, 0.229) 100%);
    position:fixed;
    top: 0%;
    width:100%;
    border-bottom: 2px solid white;
    justify-content:center;
    padding:1rem;
    .nav-bar-items{
        display:flex;
        flex-direction: row;
        justify-content:space-between;
        height:4rem;
        width:55rem;
        background-color:transparent !important;
       
            .profile-image {
                width: 4rem;
                height: 4rem;
                border-radius: 2rem; /* Set border-radius to half of width and height */
                border:2px solid white;
                box-shadow: 0 0 20px 1px rgba(255, 255, 255, 0.756);
              }
        .naviation-items{
            display:flex;
            flex-direction: row;
            align-items: center;
            gap:2rem;
            h4{
                color:white !important;
                cursor:pointer !important;
            }
        }    
    }
}
